@import "classic.css";

:root {
    --background: #333333;
}

div.related {
    background-color: #aa3333;
}

div.document {
    background-color: var(--background);
}

th, dl.field-list > dt {
    background-color: #eca2a2;
    text-align: right;
}

div.body {
    max-width: 100%;
}

html {
    background-color: var(--background);
}

a {
    color: #aa3333;
}

a:visited {
    color: #ffac2e;
    text-decoration: none;
}
