@import "classic.css";

div.related {
    background-color: #aa3333;
}

div.document html {
    background-color: #333333;
}

th, dl.field-list > dt {
    background-color: #eca2a2;
}

dl.field-list > dt {
    text-align: right;
}

div.body {
    max-width: 100%;
}

html {
    background-color: #333333;
}
